<div>
  <div
    *ngFor="let location of currentConditions$ | async"
    class="well flex"
    (click)="showForecast(location.location)"
  >
    <ng-template [ngIf]="location.data" [ngIfElse]="errorTemplate">
      <div>
        <h3>{{ location.data.name }} ({{ location.location.zipcode }})</h3>
        <h4>Current conditions: {{ location.data.weather[0].main }}</h4>
        <h4>Temperatures today:</h4>
        <p>
          Current {{ location.data.main.temp | number : ".0-0" }} - Max
          {{ location.data.main.temp_max | number : ".0-0" }} - Min
          {{ location.data.main.temp_min | number : ".0-0" }}
        </p>
        <p>
          <a
            [routerLink]="[
              '/forecast',
              location.location.zipcode + ',' + location.location.country
            ]"
            >Show 5-day forecast for {{ location.data.name }}</a
          >
        </p>
      </div>
      <div>
        <span class="close" (click)="removeLocation($event, location.location)"
          >&times;</span
        >
        <img
          [src]="weatherService.getWeatherIcon(location.data.weather[0].id)"
        />
      </div>
    </ng-template>
    <ng-template #errorTemplate>
      <div>
        <p>
          We cannot get weather for zipcode {{ location.location.zipcode }}...
          Can you check this is a valid zipcode?
        </p>
      </div>
      <div>
        <span class="close" (click)="removeLocation($event, location.location)"
          >&times;</span
        >
      </div>
    </ng-template>
  </div>
</div>
