<div class="well">
  <h2>Enter a zipcode:</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <input
          type="text"
          placeholder="Zipcode"
          class="form-control"
          (change)="zipcode = $event.target.value"
        />
      </div>
      <div class="col-md-6 col-xs-12">
        <app-input-autocomplete
          [items]="allCountries"
          [maxItemCountShown]="6"
          placeholder="Enter country name"
          (selected)="country = $event"
        ></app-input-autocomplete>
      </div>
    </div>
  </div>
  <br />
  <button
    appThreeStateButton
    class="btn"
    [(state)]="buttonState"
    [resetAfter]="500"
    (click)="addLocation()"
    [ngClass]="{
      'btn-primary': buttonState === 'IDLE',
      'btn-info': buttonState === 'WORKING',
      'btn-success': buttonState === 'DONE'
    }"
  >
    <ng-template appThreeStateButtonIdle> Add location </ng-template>
    <ng-template appThreeStateButtonWorking> Adding... </ng-template>
    <ng-template appThreeStateButtonDone>
      <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
      DONE
    </ng-template>
  </button>
</div>
